/********************
** Breakpoints
********************/
/********************
** Media Queries
********************/
/********************
** Fonts
********************/
/********************
** Colors
********************/
/********************
** Mixins
********************/
.cf {
  zoom: 1;
}
.cf:before, .cf:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.cf:after {
  clear: both;
}

.uppercase {
  text-transform: uppercase;
}

@keyframes radarBloopSml {
  0% {
    stroke-width: 1px;
    stroke-opacity: 1;
  }
  50% {
    stroke-opacity: .75;
  }
  75% {
    stroke-opacity: 0;
  }
  100% {
    stroke-width: 30px;
    stroke-opacity: 0;
  }
}
@keyframes radarBloop {
  0% {
    stroke-width: 1px;
    stroke-opacity: .5;
  }
  50% {
    stroke-opacity: .25;
  }
  75% {
    stroke-opacity: 0;
  }
  100% {
    stroke-width: 17px;
    stroke-opacity: 0;
  }
}
.screen-reader-text {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

* {
  box-sizing: border-box;
}

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-smoothing: always;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  font-family: "soleil", Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  width: 95%;
}
@media only screen and (min-width: 768px) {
  .container {
    width: 100%;
  }
}

h1 {
  font-size: 60px;
  font-size: 3.75rem;
}

h2 {
  font-size: 40px;
  font-size: 2.5rem;
}

h3 {
  font-size: 30px;
  font-size: 1.875rem;
}

p {
  font-size: 16px;
  font-size: 1rem;
  color: #000000;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#header {
  padding: 25px 0;
}
#header .masthead img.logo {
  display: block;
  margin: 0 auto;
}
#header .masthead h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-size: 2.5rem;
  color: #000000;
  padding: 15px 0;
  margin: 0;
}
#header nav {
  border-left: 1px solid #000000;
  float: right;
  display: inline;
  position: absolute;
  top: 0;
  right: 0;
}
#header nav a {
  color: #000000;
  letter-spacing: 1px;
  text-transform: uppercase;
}

nav.tags {
  padding: 50px 0;
  margin: 0 auto;
  text-align: center;
}
nav.tags li.tag {
  display: inline-block;
  padding: 0 3%;
  text-transform: uppercase;
  letter-spacing: 1px;
}
nav.tags li.tag a {
  color: #000000;
}
nav.tags li.tag a.active {
  color: #f15c44;
  text-decoration: underline;
}

.featured {
  position: relative;
}
.featured img {
  width: 100vw;
  position: relative;
  z-index: 0;
}
.featured .featuredInfo {
  position: absolute;
  display: block;
  margin: 0 auto;
  z-index: 2;
  height: top;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.featured .featuredInfo .featuredSubhead {
  font-family: "edita", Georgia, serif;
  color: #ffffff;
  letter-spacing: 1px;
  font-size: 15px;
  font-size: 0.9375rem;
}
.featured .featuredInfo .featuredHeading, .featured .featuredInfo .featuredLink {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #ffffff;
}
.featured .featuredInfo .featuredHeading {
  margin: 20px 0;
}
.featured .featuredInfo .featuredLink {
  margin: 40px 0 0 0;
  display: block;
  letter-spacing: 1px;
  font-size: 12px;
  font-size: 0.75rem;
  text-decoration: underline;
}
.featured .featuredOverlay {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #000000;
  opacity: .2;
  z-index: 1;
  width: 100%;
  height: 100%;
}

article.project {
  width: 100%;
  position: relative;
  margin: 50px auto;
}
article.project img {
  width: 100%;
}
article.project .projectInfo {
  position: absolute;
  bottom: 5px;
  left: 0;
  background-color: #ffffff;
  padding: 10px;
}
article.project .projectInfo h1 {
  display: inline;
  text-transform: uppercase;
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: 1.5px;
}
article.project .projectInfo h1:after {
  content: "/";
  margin-left: 10px;
  margin-right: 5px;
}
article.project .projectInfo span {
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: 1px;
  font-style: italic;
  font-family: "edita", Georgia, serif;
}
article.project .projectInfo a {
  font-size: 14px;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #f15c44;
  font-weight: 700;
  margin: 0 15px;
  text-decoration: underline;
}

#footer {
  padding: 55px 40px 70px 40px;
  width: 100%;
  background-color: #f15c44;
}
#footer .footerLogo {
  margin: 0 auto;
  display: block;
}
#footer span, #footer a {
  text-align: center;
  display: block;
  margin: 0 auto;
}
#footer .contact {
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 35px;
  font-size: 2.1875rem;
  margin-top: 20px;
}
#footer .email {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
#footer .or {
  color: #000000;
}
#footer .learn {
  color: #000000;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 15px;
}
