/********************
** Breakpoints
********************/
/********************
** Media Queries
********************/
/********************
** Fonts
********************/
/********************
** Colors
********************/
/********************
** Mixins
********************/
.cf {
  zoom: 1;
}
.cf:before, .cf:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.cf:after {
  clear: both;
}

.uppercase {
  text-transform: uppercase;
}

@keyframes radarBloopSml {
  0% {
    stroke-width: 1px;
    stroke-opacity: 1;
  }
  50% {
    stroke-opacity: .75;
  }
  75% {
    stroke-opacity: 0;
  }
  100% {
    stroke-width: 30px;
    stroke-opacity: 0;
  }
}
@keyframes radarBloop {
  0% {
    stroke-width: 1px;
    stroke-opacity: .5;
  }
  50% {
    stroke-opacity: .25;
  }
  75% {
    stroke-opacity: 0;
  }
  100% {
    stroke-width: 17px;
    stroke-opacity: 0;
  }
}
.screen-reader-text {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

* {
  box-sizing: border-box;
}

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-smoothing: always;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  font-size: 16px;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 95%;
}
@media only screen and (min-width: 768px) {
  .container {
    width: 100%;
  }
}

h1 {
  font-size: 60px;
  font-size: 3.75rem;
}

h2 {
  font-size: 40px;
  font-size: 2.5rem;
}

h3 {
  font-size: 30px;
  font-size: 1.875rem;
}

p {
  font-size: 16px;
  font-size: 1rem;
  color: #000000;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header {
  padding: 25px 0;
}
.header .masthead img.logo {
  display: block;
  margin: 0 auto;
}
.header .masthead h1 {
  text-align: center;
  font-size: 40px;
  font-size: 2.5rem;
  color: #000000;
  padding: 15px 0;
  margin: 0;
}
.header nav {
  border-left: 1px solid #000000;
  float: right;
  display: inline;
  position: absolute;
  top: 0;
  right: 0;
}

.featured {
  position: relative;
}
.featured img {
  width: 100vw;
  position: relative;
  z-index: 0;
}
.featured .featuredInfo {
  position: absolute;
  z-index: 2;
  width: 100%;
  text-align: center;
}
.featured .featuredOverlay {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #000000;
  opacity: .2;
  z-index: 1;
  width: 100%;
  height: 100%;
}

nav.tags {
  padding: 20px 0;
  margin: 0 auto;
}
nav.tags li.tag {
  display: inline-block;
  padding: 0 3%;
}
nav.tags li.tag a {
  color: #000000;
}

article.project {
  width: 100%;
  position: relative;
  margin: 0 auto;
}
article.project img {
  width: 100%;
}
article.project .projectInfo {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
}
article.project .projectInfo h1 {
  display: inline;
}

footer {
  background-color: #f15c44;
}
