<section id="header" class="about-header">
	<div class="headerContainer">
		<div class="masthead">
			<a id="backButton" href="/#/">BACK</a>
			<img class="about-portrait" src="./images/portrait.png">
		</div>
		<nav id="nav" navigation-dir>
			<div class="navWrap">
				<h1 class="logo" aria-hide="true"><a nav-dir ng-click="scrollHeader()" href="/#/">Caleb Heisey</a></h1>
				<div class="navContain">
					<ul class="navList">
						<li class="navItem"><a href="/#/">Portfolio</a></li>
						<li class="navItem" contact-nav ng-click="scrollFooter()"><a>Contact</a></li>
					</ul>
					<ul class="socialNav">
						<li class="social icon-instagram"><a href="https://instagram.com/calebheisey/"><span class="screen-reader-text">Instagram</span></a></li>
						<li class="social icon-dribble"><a href="https://dribbble.com/calebheisey"><span class="screen-reader-text">Dribbble</span></a></li>
						<li class="social icon-twitter"><a href="https://twitter.com/calebheisey"><span class="screen-reader-text">Twitter</span></a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</section>
<main id="mainContent">
	<div class="about-container container">
		<h1><span class="screen-reader-text">About Caleb</span></h1>
		<div class="about-body body-top">
			<p>Hello! <strong>I'm Caleb</strong>, a designer and illustrator living in the great city of Philadelphia.</p>
		</div>
		<div class="about-body body-middle">
			<p>I have had the privilege to work with several amazing design teams including: Headcase Design, Pixar Animation Studios, and currently, <a href="http://www.bluecadet.com">Bluecadet</a>. My work ranges from packaging, branding, interactive and everything in between. I have a deep love and appreciation of the outdoors which continues to inspire and inform my work.</p>
			<p>If you have a small project, the next big thing, or just an itch to make some pretty cool stuff, I'd love to work with you. Please email me at <strong>heiseycb@gmail.com</strong> with your idea and let's talk it out.</p>
		</div>
		<div class="about-body body-left">
			<h2>Select Clients &amp; Collaboration</h2>
			<p>
				160Over90 / Projekt Inc. / Spring Shot / RP3 Agency / CSIRO / Vacation Races / Jon Ornee Wine Design / Field &amp; Stream Magazine / The Monster Project
			</p>
		</div>
		<div class="about-body body-right">
			<h2>Features &amp; Recognition</h2>
			<p>theDieline.com / GrainEdit / DesignWorkLife / Buzzfeed / Lovely Package / FastCoDesign / Gizmodo / NPR / Designboom / Designspiration / Webby Awards / Communication Arts / HOW International Design Awards / Lurzer's Archive / NOVUM Magazine / 3x3 Magazine / Graphis / Creative Quarterly</p>
		</div>
		<div class="about-body body-bottom">
			<h2>Get to know me!</h2>
			<p>In addition to email you can contact me through various social media. Follow me on <a href="https://dribbble.com/calebheisey">Dribbble</a> and see tid bits of work-in-progress that you won't see here on my main site. You can also find me on <a href="https://twitter.com/calebheisey">Twitter</a> or <a href="https://instagram.com/calebheisey/">Instagram</a> tweeting and posting my finds on the internet or around Philly.</p>
		</div>
	</div>
</main>
<footer id="footer">
	<img class="footerLogo" src="./images/logo.png">
	<span class="contact">Get In Touch!</span>
	<a class="email user-select">HeiseyCB@gmail.com</a>
	<span class="or">or</span>
	<a class="learn" href="/#/">View my portfolio</a>
</footer>