@import "modules/reset";
@import "modules/variables";
@import "modules/fancy";


//Main styles here
* {
	box-sizing: border-box;
	
}

html{
	//Below prevent text highlighting
	@include highlightText(none);
	font-smoothing: always;
	text-rendering: optimizeLegibility!important;
    -webkit-font-smoothing: antialiased!important;
    -moz-osx-font-smoothing: grayscale;
}
body, html{
	font-family: $f-sans-serif;
	@include font-size(16);
	margin: 0;
	padding: 0;
}

.container{
	max-width: 1080px;
	margin: 0 auto;
	width: 95%;
	@include bp(sml) {
		width: 100%;	
	}
}

h1{
	@include font-size(60);
}

h2{
	@include font-size(40);
}

h3{
	@include font-size(30);
}

p{
	@include font-size(16);
	color: $black;
}

a{
	text-decoration: none;
	&:visited, &:active, &:focus{

	}
	&:hover{
	}
}
ul{
	list-style: none;
}

//========================
// Header
//========================
#header{
	padding: 25px 0;

	.headerContainer{
		position: relative;
	}
	.masthead{
		img.logo{
			display: block;
			margin: 0 auto;
		}
		h1{
			text-align: center;
			text-transform: uppercase;
			@include font-size(40);
			color: $black;
			padding: 15px 0;
			margin: 0;
		}
	}
	nav{
		display: none;
		@include bp(sml) {
			display: inline;
		}
		border-left: 1px solid $black;
		float: right;
		position: absolute;
		padding-left: 15px;
		top: 0;
		right: 0;
	  	width: 20%;
  		max-width: 200px;

  		.navNav{
  			.nav{
	  			padding: 10px 0;

	  			a{
					color: $black;
					letter-spacing: 1px;
					text-transform: uppercase;
				}
	  		}
  		}
  	
		.socialNav{
			margin-top: 10px;
			display: none;
			@include bp(sml) {
				display: block;
			} 
			.social{
				display: inline-block;
			  	float: left;
	  			margin: 0 3px;
	  			height: 30px;
				width: 30px;
				background-color: $darkGray;
				border-radius:50%;

	  			&:first-of-type{
	  				margin-left: 0;
	  			}
	  			&:last-of-type{
	  				margin-right: 0;
	  			}
	  			a{
	  				height: 100%;
	  				width: 100%;
	  				display: block;
	  			}
			}
		}
	}
}

//========================
// Tags
//========================
nav.tags{
	padding: 50px 0;
	margin: 0 auto;
	text-align: center;

	li.tag{
		display: inline-block;
  		padding: 0;
  		text-transform: uppercase;
  		letter-spacing: 1px;
  		&:after{
			content: "|";
			padding: 0 8%; 
		}
		&:last-of-type{
			&:after{
				content: "";
			}
		}

  		a{
  			color: $black;
  			&.active{
  				color: $orange;
  				text-decoration: underline;
  			}
  		}
	}
}

//========================
// Featured
//========================
.featured{
	position: relative;

	img{
		width: 100vw;
		position: relative;
		z-index: 0;
	}
	.featuredInfo{
		position: absolute;
		display: block;
		margin: 0 auto;
		z-index: 2;
		height: top;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		text-align: center;

		.featuredSubhead{
			font-family: $f-serif;
			color: $white;
			letter-spacing: 1px;
			@include font-size(15);
		}
		.featuredHeading,.featuredLink{
			text-transform: uppercase;
			letter-spacing: 1.5px;
			color: $white;
		}
		.featuredHeading{
			margin: 20px 0;
		}
		.featuredLink{
			margin: 40px 0 0 0;
			display: block;
			letter-spacing: 1px;
			@include font-size(12);
			text-decoration: underline;
		}
	}

	.featuredOverlay{
		position: absolute;
		left: 0;
		top: 0;
		background-color: $black;
		opacity: .2;
		z-index: 1;
		width: 100%;
		height: 100%;
	}
}

//========================
// Projects
//========================
article.project{
	width: 100%;
	position: relative;
	margin: 50px auto;

	img{
		width: 100%;
	}
	.projectInfo{
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: $white;
		padding: 10px;

		h1{
			display: inline;
			text-transform: uppercase;
			@include font-size(16);
			letter-spacing: 1.5px;

			&:after{
				content: "/";
				margin-left:10px;
				margin-right:5px;
			}
		}
		span{
			@include font-size(16);
			letter-spacing: 1px;
			font-style: italic;
			font-family: $f-serif;
		}
		a{
			@include font-size(14);
			text-transform: uppercase;
			color: $orange;
			font-weight: 700;
			margin: 0 15px;
			text-decoration: underline;
		}
	}
}

//========================
// Footer
//========================
#footer{
	padding: 55px 40px 70px 40px;
	width: 100%;
	background-color: $orange;
	.footerLogo{
		margin: 0 auto;
		display: block;
	}
	span,a{
		text-align: center;
		display: block;
		margin: 0 auto;
	}
	.contact{
		color: $black;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 2px;
		@include font-size(35);
		margin-top: 30px;
		margin-bottom: 20px;
	}
	.email{
		color: $white;
		font-weight: 700;
		margin-bottom: 20px;
  		letter-spacing: 1px;
	}
	.or{
		color: $black;
		font-style: italic;
	}
	.learn{
		color: $black;
		text-decoration: underline;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 1px;
		font-size: 15px;
	}
}